# Output images
*.png

# Java
bin/
build/
out/
target/
*.class
*.jar

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# OS-specific
.DS_Store